body {
    padding: 50px;
    background: linear-gradient(to right, #9678EC, #6188EE);
    text-align: center;
    width: 100%; /* Asegura que el encabezado ocupe todo el ancho */
    margin: 0; /* Elimina los márgenes predeterminados */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
}

header {
    padding: 50px;
    background: linear-gradient(to right, #4f3b75, #2c4b7d); /* Tonos más oscuros */
}


#title-image {
    max-width: 100%;
    height: auto;
}

.artist-images {
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text {
    font-size: 17px; /* Ajusta el tamaño según sea necesario */
    font-weight: bold;
}


.artist-images img {
    width: 190px;
    height: 240px;
    object-fit: cover;
    margin: 5px; /* Puedes ajustar el margen según sea necesario */
}

.section-title {
   font-family: 'Tilt Warp', sans-serif;
}
p {
    font-family: 'Roboto Flex', sans-serif;
}
.section-info-derecha {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos al final del contenedor (derecha) */
}

.section-info-izquierda {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio del contenedor (izquierda) */
    align-items: center; /* Centra verticalmente los elementos */
    margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
    background-color: rgba(69, 39, 160, 0.8); /* Fondo morado oscuro semi-transparente */
    color: white; /* Color del texto blanco */
    padding: 10px; /* Añade relleno para dar espacio alrededor del texto */
}

}

.section-info-izquierda p {
    margin: 0; /* Elimina el margen por defecto de los párrafos para hacerlo más apretado */
}

.section-info-derecha {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos al final del contenedor (derecha) */
    align-items: center; /* Centra verticalmente los elementos */
    margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
    background-color: rgba(69, 39, 160, 0.8); /* Fondo morado oscuro semi-transparente */
    color: white; /* Color del texto blanco */
    padding: 10px; /* Añade relleno para dar espacio alrededor del texto */
}

.section-info-derecha p {
    margin: 0; /* Elimina el margen por defecto de los párrafos para hacerlo más apretado */
}


.artist-info img{
    width: 190px;
    height: 240px;
    object-fit: cover;
    margin: 5px; /* Puedes ajustar el margen según sea necesario */
}


.iframe.grafico {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 1000px; /* Ajusta la altura según sea necesario */
    margin: 10px; /* Ajusta el valor de margen según sea necesario */
}


.carrusel {
    position: relative;
    overflow: hidden;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
}

img {
    width: 50%;
    height: 50%;
}

.info {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    text-align: center;
    transform: translateY(-50%);
    color: white;
}

h3, p {
    margin: 0;
}

@mixin transition($transition) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
#carrousel{
    margin: 10px;
    @media (max-width: 768px){
        margin: 70px 0px 0px 0px;
    }
    @media (max-width: 425px){
        margin: 50px 0px 0px 0px;
    }  
    .title{
      margin-bottom: 10px;
      font-size: 30px;
    }
    .owl-carousel {
        img{
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 300px;
            object-fit: cover;
            @include transition(all 0.2s ease);
            -webkit-box-shadow: 12px 12px 10px -10px rgba(0,0,0,.25);
            -moz-box-shadow: 12px 12px 10px -10px rgba(0,0,0,.25);
            box-shadow: 12px 12px 10px -10px rgba(0,0,0,.25);
        }
        .owl-item{
            height: 300px;
            position: relative;
            transform: scale(0.7);
            -ms-transform: scale(0.7);
            transition: all .2s;
            -webkit-transform: all .2s;
            z-index: 1;
            @media (max-width: 768px){
                height: 270px;
            }
            @media (max-width: 380px){
                height: 200px;
            }
        }
        .owl-stage-outer {
            padding-bottom: 10px;
        }
    }

    .owl-item {
        &.big{
            transform: scale(1);
            -ms-transform: scale(1);
            z-index: 3;
        }
    }

    .owl-item{
        &.medium{
            transform: scale(0.8);
            -ms-transform: scale(0.8);
            z-index: 2;

            &.mdright{
                /*border: solid 1px red;*/
                position: relative;
                left: -30px;
                @media (min-width: 768px){
                    left: 0px;
                }
            }
            &.mdleft{
                /*border: solid 1px blue;*/
                position: relative;
                right: -30px;
                @media (min-width: 768px){
                    right: 0px;
                }
            }
        }
    }

    .owl-item{
        &.smallRight{
            &.active{
                transform: scale(0.7);
                -ms-transform: scale(0.7);
                position: relative;
                left: -30px;
            }
        }
    }
    .owl-item {
        &.smallLeft {
            &.active {
                transform: scale(0.7);
                -ms-transform: scale(0.7);
                position: relative;
                right: -30px;
            }
        }
    }

    .owl-nav{
        position: absolute;
        top: 30%;
        width: 100%;
        .owl-prev{
            position: absolute;
            left: 0px;
            top: 10px;
            background: transparent !important;
            color: #000 !important;
            font-size: 40px !important;
            &:hover{
                color: #adadad !important;
            }
        }
        .owl-next{
            position: absolute;
            right: 0px;
            top: 10px;
            background: transparent !important;
            color: #000 !important;
            font-size: 40px !important;
            &:hover{
                color: #adadad  !important;
            }
        }
    }
}
